tags
test.sh
.luarc.json
.venv/

node_modules/
**/*.DS_Store

mihomo-clash/config/
!mihomo-clash/config/ui/
!mihomo-clash/config/config.yaml.sops

stow/gui/fcitx5/.config/fcitx5/conf/*
stow/gui/fcitx5/.config/fcitx5/config
stow/gui/fcitx5/.config/fcitx5/profile
!stow/gui/fcitx5/.config/fcitx5/conf/classicui.conf

stow/cli/tmux/.config/tmux/plugins/

stow/cli/rclone/.config/rclone/rclone.conf

stow/gui/vscode/Code/
!stow/gui/vscode/Code/User/snippets/
!stow/gui/vscode/Code/User/*.json

stow/cli/ssh/.ssh/known_hosts
stow/cli/ssh/.ssh/known_hosts.old
stow/cli/ssh/.ssh/sockets/
stow/cli/ssh/.ssh/*_rsa
stow/cli/ssh/.ssh/config

stow/cli/gh/.config/gh/hosts.yml
stow/cli/gh/.config/gh/config.yml

stow/gui/karabiner/.config/karabiner/
!stow/gui/karabiner/.config/karabiner/karabiner.json

stow/cli/pudb/.config/pudb/
!stow/cli/pudb/.config/pudb/pudb.cfg

shell/.env.secrets
!shell/.env.secrets.sops
