# Config version for compatibility and deprecations
# Fallback value (if you omit the key): config-version = 1
config-version = 2

# You can use it to add commands that run after AeroSpace startup.
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
  'exec-and-forget borders active_color=0xff00ff00 inactive_color=0xffe1e3e4 hidpi=on width=5.0'
]

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 30

# Possible values: tiles|accordion
default-root-container-layout = 'accordion'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = false

# List of workspaces that should stay alive even when they contain no windows,
# even when they are invisible.
persistent-workspaces = ["1", "2", "3", "4",
                         "9", "0"]

# A callback that runs every time binding mode changes
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# See: https://nikitabobko.github.io/AeroSpace/commands#mode
on-mode-changed = []

# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 6
    inner.vertical =   6
    outer.left =       4
    outer.bottom =     4
    outer.top =        4
    outer.right =      4

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]

    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right

    # All possible modifiers: cmd, alt, ctrl, shift

    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Terminal"
    #     do script
    #     activate
    # end tell'
    # '''

    # basic
    cmd-q = "close"
    # help
    cmd-shift-slash = 'exec-and-forget open -n -a Ghostty --args -e bash -c "/opt/homebrew/bin/aerospace config --get mode --json; echo; read -p \"Press Enter to exit...\""'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    cmd-h = 'focus left --ignore-floating'
    cmd-j = 'focus down --ignore-floating'
    cmd-k = 'focus up --ignore-floating'
    cmd-l = 'focus right --ignore-floating'
    cmd-shift-h = 'focus-monitor left'
    cmd-shift-j = 'focus-monitor down'
    cmd-shift-k = 'focus-monitor up'
    cmd-shift-l = 'focus-monitor right'
    cmd-d = 'workspace next'
    cmd-u = 'workspace prev'

    cmd-enter = "macos-native-fullscreen"
    # cmd-f = "fullscreen"
    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    # can change horizontal or vertical based on parent
    cmd-minus = 'resize smart -60'
    cmd-equal = 'resize smart +60'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    cmd-1 = 'workspace 1'
    cmd-2 = 'workspace 2'
    cmd-3 = 'workspace 3'
    cmd-4 = 'workspace 4'
    cmd-9 = 'workspace 9'
    cmd-0 = 'workspace 0'
    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    cmd-backslash = 'workspace-back-and-forth'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    cmd-ctrl-h = 'move left'
    cmd-ctrl-j = 'move down'
    cmd-ctrl-k = 'move up'
    cmd-ctrl-l = 'move right'
    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    cmd-ctrl-1 = 'move-node-to-workspace 1'
    cmd-ctrl-2 = 'move-node-to-workspace 2'
    cmd-ctrl-3 = 'move-node-to-workspace 3'
    cmd-ctrl-4 = 'move-node-to-workspace 4'
    cmd-ctrl-9 = 'move-node-to-workspace 9'
    cmd-ctrl-0 = 'move-node-to-workspace 0'

    cmd-ctrl-d = 'move-node-to-workspace next'
    cmd-ctrl-u = 'move-node-to-workspace prev'

    # window split / unify
    # cmd-leftSquareBracket = 'join-with left'
    # cmd-rightSquareBracket = 'join-with right'
    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    cmd-comma = 'layout v_accordion'
    cmd-period = 'layout h_accordion'

# 让 Finder 的所有窗口都保持浮动（不参与平铺）
[[on-window-detected]]
    if.app-id = 'com.apple.finder'
    run = 'layout floating'

# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# [mode.service.binding]
#     esc = ['reload-config', 'mode main']
#     r = ['flatten-workspace-tree', 'mode main'] # reset layout
#     f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
#     backspace = ['close-all-windows-but-current', 'mode main']
#
#     # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
#     #s = ['layout sticky tiling', 'mode main']
