<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_position</key>
	<integer>6</integer>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_position</key>
	<integer>7</integer>
	<key>CPU_barChart_position</key>
	<integer>1</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>system</string>
	<key>CPU_bar_chart_frame</key>
	<true/>
	<key>CPU_bar_chart_label</key>
	<false/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>0</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>label,bar_chart</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>4</integer>
	<key>Disk_memory_position</key>
	<integer>6</integer>
	<key>Disk_mini_position</key>
	<integer>5</integer>
	<key>Disk_networkChart_position</key>
	<integer>0</integer>
	<key>Disk_pieChart_position</key>
	<integer>2</integer>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_speed_position</key>
	<integer>1</integer>
	<key>Disk_state</key>
	<false/>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>network_chart</string>
	<key>GPU_barChart_position</key>
	<integer>1</integer>
	<key>GPU_bar_chart_box</key>
	<false/>
	<key>GPU_bar_chart_color</key>
	<string>utilization</string>
	<key>GPU_bar_chart_frame</key>
	<true/>
	<key>GPU_label_position</key>
	<integer>0</integer>
	<key>GPU_lineChart_position</key>
	<integer>3</integer>
	<key>GPU_mini_position</key>
	<integer>4</integer>
	<key>GPU_oneView</key>
	<true/>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>2</integer>
	<key>GPU_widget</key>
	<string>label,bar_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va+gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAEA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAHR1dHUJAAAAAQEAAERv
	Y3VtZW50cwAAAAwAAAABBgAAEAAAACAAAAAsAAAACAAAAAQDAAB9QgAAAAAAAAgAAAAE
	AwAAAHYAAAAAAAAIAAAABAMAAMfOAAAAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAIAAAA
	AAQAAEHGKeNSheghGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUA
	AAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAABQwRlzAAAACAAAAAAEAABBxvi1lQAAACQAAAAB
	AQAANjI4NzY5NDUtRjU4RS00MkQ2LTg1RTYtNDY2REQ0RTk4RjBCGAAAAAECAACBAAAA
	AQAAAO8TAAABAAAA7xMAAAEAAAABAAAAAQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHNjb2QCAAAAAAAAAPAAAAD+////AQAAAAAA
	AAATAAAABBAAAEAAAAAAAAAABRAAAIQAAAAAAAAAEBAAAKgAAAAAAAAAQBAAAJgAAAAA
	AAAAAiAAAHwBAAAAAAAABSAAAOwAAAAAAAAAECAAAPwAAAAAAAAAESAAADABAAAAAAAA
	EiAAABABAAAAAAAAEyAAACABAAAAAAAAICAAAFwBAAAAAAAAMCAAAMgAAAAAAAAAAcAA
	ANAAAAAAAAAAEcAAACAAAAAAAAAAEsAAAOAAAAAAAAAAAdAAAMgAAAAAAAAAENAAAAQA
	AAAAAAAAF/AAACwAAAAAAAAAIvAAAIgBAAAAAAAA
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>465</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>682</integer>
	<key>NSStatusItem Restore Position CPU</key>
	<integer>649</integer>
	<key>NSStatusItem Restore Position CPU_bar_chart</key>
	<integer>854</integer>
	<key>NSStatusItem Restore Position CPU_label</key>
	<integer>682</integer>
	<key>NSStatusItem Restore Position CPU_mini</key>
	<integer>649</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position GPU</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position GPU_mini</key>
	<integer>635</integer>
	<key>NSStatusItem Restore Position Network_label</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position Network_network_chart</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position RAM_label</key>
	<integer>588</integer>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>648</integer>
	<key>NSStatusItem Restore Position RAM_pie_chart</key>
	<integer>688</integer>
	<key>NSStatusItem Restore Position Sensors_label</key>
	<integer>627</integer>
	<key>NSStatusItem Restore Position Sensors_sensors</key>
	<integer>880</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>597 580 360 163 0 0 1496 937 </string>
	<key>Network_label_position</key>
	<integer>3</integer>
	<key>Network_networkChart_position</key>
	<integer>2</integer>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_speed_position</key>
	<integer>0</integer>
	<key>Network_state</key>
	<false/>
	<key>Network_state_position</key>
	<integer>1</integer>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>4</integer>
	<key>RAM_label_position</key>
	<integer>1</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>5</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_pieChart_position</key>
	<integer>0</integer>
	<key>RAM_pie_chart_label</key>
	<true/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_widget</key>
	<string>pie_chart</string>
	<key>Sensors_barChart_position</key>
	<integer>2</integer>
	<key>Sensors_bar_chart_box</key>
	<false/>
	<key>Sensors_bar_chart_frame</key>
	<true/>
	<key>Sensors_fanControl</key>
	<false/>
	<key>Sensors_fanValue</key>
	<string>rpm</string>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_oneView</key>
	<true/>
	<key>Sensors_popup_fanValue</key>
	<string>rpm</string>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>Sensors_sensors_mode</key>
	<string>twoRows</string>
	<key>Sensors_sensors_monospacedFont</key>
	<false/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<true/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>dockIcon</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<true/>
	<key>sensor_Average GPU</key>
	<true/>
	<key>sensor_F0Ac</key>
	<false/>
	<key>sensor_F1Ac</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_TB1T</key>
	<false/>
	<key>sensor_TB2T</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TW0P</key>
	<false/>
	<key>sensor_Te05_popup</key>
	<false/>
	<key>sensor_Te0L_popup</key>
	<false/>
	<key>sensor_Te0P_popup</key>
	<false/>
	<key>sensor_Te0S_popup</key>
	<false/>
	<key>sensor_Tf04</key>
	<false/>
	<key>sensor_Tf04_popup</key>
	<false/>
	<key>sensor_Tf09_popup</key>
	<false/>
	<key>sensor_Tf0A_popup</key>
	<false/>
	<key>sensor_Tf0B_popup</key>
	<false/>
	<key>sensor_Tf0D_popup</key>
	<false/>
	<key>sensor_Tf0E_popup</key>
	<false/>
	<key>sensor_Tf14</key>
	<false/>
	<key>sensor_Tf14_popup</key>
	<false/>
	<key>sensor_Tf18_popup</key>
	<false/>
	<key>sensor_Tf19_popup</key>
	<false/>
	<key>sensor_Tf1A_popup</key>
	<false/>
	<key>sensor_Tf24_popup</key>
	<false/>
	<key>sensor_Tf28_popup</key>
	<false/>
	<key>sensor_Tf29_popup</key>
	<false/>
	<key>sensor_Tf2A_popup</key>
	<false/>
	<key>sensor_Tf44_popup</key>
	<false/>
	<key>sensor_Tf49_popup</key>
	<false/>
	<key>sensor_Tf4A_popup</key>
	<false/>
	<key>sensor_Tf4B_popup</key>
	<false/>
	<key>sensor_Tf4D_popup</key>
	<false/>
	<key>sensor_Tf4E_popup</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1749525065</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1750742683</integer>
	<key>version</key>
	<string>2.11.45</string>
</dict>
</plist>
